.sporbits-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    margin: 0;
    background-color: rgb(16 16 16 / 0.7);
    color: white;
}

.sporbits-game-container {
    display: flex;
    justify-content: center;
}

svg {
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

circle {
    fill: #aaa;
}
